<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', { page: 'Admin Menu' }) %>
  <body>
    <%- include('partials/adminNav.ejs') %>
    
    <div class="container">
      <div class="row">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-appetizers-tab" data-bs-toggle="tab" data-bs-target="#nav-appetizers" type="button" role="tab" aria-controls="nav-appetizers" aria-selected="true">Appetizers</button>
            <button class="nav-link" id="nav-soupSalad-tab" data-bs-toggle="tab" data-bs-target="#nav-soupSalad" type="button" role="tab" aria-controls="nav-soupSalad" aria-selected="false">Soup & Salad</button>
            <button class="nav-link" id="nav-pasta-tab" data-bs-toggle="tab" data-bs-target="#nav-pasta" type="button" role="tab" aria-controls="nav-pasta" aria-selected="false">Pasta</button>
            <button class="nav-link" id="nav-sandwiches-tab" data-bs-toggle="tab" data-bs-target="#nav-sandwiches" type="button" role="tab" aria-controls="nav-sandwiches" aria-selected="false">Sandiwches</button>
            <button class="nav-link" id="nav-meat-tab" data-bs-toggle="tab" data-bs-target="#nav-meat" type="button" role="tab" aria-controls="nav-meat" aria-selected="false">Meat</button>
            <button class="nav-link" id="nav-poultry-tab" data-bs-toggle="tab" data-bs-target="#nav-poultry" type="button" role="tab" aria-controls="nav-poultry" aria-selected="false">Poultry</button>
            <button class="nav-link" id="nav-seafood-tab" data-bs-toggle="tab" data-bs-target="#nav-seafood" type="button" role="tab" aria-controls="nav-seafood" aria-selected="false">Seafood</button>
            <button class="nav-link" id="nav-pizza-tab" data-bs-toggle="tab" data-bs-target="#nav-pizza" type="button" role="tab" aria-controls="nav-pizza" aria-selected="false">Pizza</button>
            <button class="nav-link" id="nav-dessert-tab" data-bs-toggle="tab" data-bs-target="#nav-dessert" type="button" role="tab" aria-controls="nav-dessert" aria-selected="false">Dessert</button>
            <button class="nav-link" id="nav-drinksBar-tab" data-bs-toggle="tab" data-bs-target="#nav-drinksBar" type="button" role="tab" aria-controls="nav-drinksBar" aria-selected="false">Drinks & Bar</button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-appetizers" role="tabpanel" aria-labelledby="nav-appetizers-tab">appetizers</div>
          <div class="tab-pane fade" id="nav-soupSalad" role="tabpanel" aria-labelledby="nav-soupSalad-tab">soupSalad</div>
          <div class="tab-pane fade" id="nav-pasta" role="tabpanel" aria-labelledby="nav-pasta-tab">pasta</div>
          <div class="tab-pane fade" id="nav-sandwiches" role="tabpanel" aria-labelledby="nav-sandwiches-tab">sandwiches</div>
          <div class="tab-pane fade" id="nav-meat" role="tabpanel" aria-labelledby="nav-meat-tab">meat</div>
          <div class="tab-pane fade" id="nav-poultry" role="tabpanel" aria-labelledby="nav-poultry-tab">poultry</div>
          <div class="tab-pane fade" id="nav-seafood" role="tabpanel" aria-labelledby="nav-seafood-tab">seafood</div>
          <div class="tab-pane fade" id="nav-pizza" role="tabpanel" aria-labelledby="nav-pizza-tab">pizza</div>
          <div class="tab-pane fade" id="nav-dessert" role="tabpanel" aria-labelledby="nav-dessert-tab">dessert</div>
          <div class="tab-pane fade" id="nav-drinksBar" role="tabpanel" aria-labelledby="nav-drinksBar-tab">drinksBar</div>
        </div>
      </div>

      <div class="row">
        <div class="col d-flex justify-content-center">
          <p class="display-6 my-5">Full Menu</p>
          <p>Click on Item to edit...</p>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          <div class="row">
            <div class="col d-flex justify-content-end">
              <p class="bg-success text-white py-1 px-2 rounded mx-5">Lunch</p>
              <p class="bg-danger text-white py-1 px-2 rounded">Dinner</p>
            </div>
          </div>
        </div>
      </div>


  

      <% for(let idx = menuItems.length -1; idx >= 0; idx--){ %> <% const
      menuItem = menuItems[idx] %>
      <div class="row d-flex justify-content-center mb-2">
        <div class="col-md-12 col-lg-10 col-xl-8">
          <div class="card shadow">
            <div class="card-header d-flex justify-content-between">
              <p id="menuDishName">
                <a href="/admin/menu/<%= menuItem.id %>" class="btn btn-primary">
                    <%= menuItem.dishName %>
                  </a>
              </p>

              <div class="d-flex justify-content-end">
                <p class="bg-success text-white py-1 px-2 rounded mx-5 text-white">
                  $<%= menuItem.lunchPrice %>
                </p>
                <p class="bg-danger text-white py-1 px-2 rounded text-white">
                  $<%= menuItem.dinnerPrice %>
                </p>
              </div>
              
            </div>

            <div class="card-body">
              <p class="card-text"><%= menuItem.description %></p>
            </div>
          </div>
        </div>
      </div>
      <% } %>


    </div>

  </body>
</html>
