<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', { page: 'Admin Menu' }) %>
  <body>
    <%- include('partials/adminNav.ejs') %>
    
    <div class="container">

      <div class="row">
        <div class="col d-flex justify-content-center">
          <p class="display-6">Full Menu</p>
        </div>
      </div>
      <div class="row d-flex justify-content-center mb-1">
        <div class="col col-lg-6">
          <div class="row">
            <div class="col d-flex justify-content-end">
              <p class="bg-info rounded mx-5">Lunch</p>
              <p class="bg-success rounded">Dinner</p>
            </div>
          </div>
        </div>
      </div>
      
      <% for(let idx = 0; idx < menuItems.length; idx++){ %> <% const menuItem =
        menuItems[idx] %>
        <div class="row d-flex justify-content-center mb-1">
          <div class="col col-lg-6">
          <div class="card shadow">
            <div class="card-header d-flex justify-content-between">
              <p><a href="/admin/menu/<%= menuItem.id %>"><%= menuItem.dishName %></a></p>
              
              <p class="px-3 bg-info rounded">$<%= menuItem.lunchPrice %></p>
              <p class="px-3 bg-success rounded">$<%= menuItem.dinnerPrice %></p>
            </div>
            <div class="card-body" >
              <p class="card-text">
                <%= menuItem.description %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>

  </body>
</html>
