<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', { page: 'Menu Item'}) %>
  <body>
    <%- include('partials/adminNav.ejs') %>

    <section class="py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
          <div class="col-md-6">
            <img
              class="card-img-top mb-5 mb-md-0"
              src="<%= menuItem.foodPhoto %>"
              alt="..."
            />
          </div>
          <div class="col-md-6">
            <h1 class="display-5 fw-bolder"><%= menuItem.dishName %></h1>
            <div class="fs-5 mb-5">
              <span>Lunch $<%= menuItem.lunchPrice %></span><br>
              <span>Dinner $<%= menuItem.dinnerPrice %></span>
            </div>
            <p><strong>Description:</strong></p>
            <p class="lead">
              <%= menuItem.description %>
            </p>
            <div class="d-flex">
              <!-- Edit Button -->
              <div>
                <a
                  href="/admin/menu/<%= menuItem.id %>/edit"
                  class="btn btn-outline-dark flex-shrink-0 mx-3"
                  >Edit</a
                >
              </div>
              <!-- Delete button -->
              <form
                action="/admin/menu/<%= menuItem.id %>?_method=DELETE"
                method="POST"
              >
                <input
                  class="btn btn-outline-dark flex-shrink-0"
                  type="submit"
                  value="Delete"
                />
              </form>
            </div>
          </div>
      </div>
    </div>
    </section>
  </body>
</html>
