<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', { page: 'Menu Item'}) %>
  <body>
    <%- include('partials/adminNav.ejs') %>

    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <p class="display-6"><%= menuItem.dishName %></p>
        </div>
      </div>
      
      
      <div class="card mb-3" >
        <form
          action="/admin/menu/<%= menuItem.id %>?_method=DELETE"
          method="POST"
        >
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="<%= menuItem.foodPhoto %>"
                class="img-fluid rounded-start"
                style="width: auto; min-height: 100%"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= menuItem.dishName %></h5>
                <p class="card-text"><%= menuItem.description %></p>
                <p class="card-text">
                  <a
                    href="/admin/menu/<%= menuItem.id %>/edit"
                    class="btn btn-primary btn-sm mx-2"
                    >Edit</a
                  >
                  <button
                    href="/admin/menu/<%= menuItem.id %>?_method=DELETE"
                    type="submit"
                    class="btn btn-danger btn-sm"
                  >
                    Delete
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
