<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { page: 'Menu' }) %>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="container">




      <div class="row">
        <div class="col">
          <h1 class="display-5 text-center pt-3">
            <i>Chef's Speciale della Settimana</i>
          </h1>
          <hr class="my-5" />
        </div>
      </div>

      <div class="row gy-2">
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card shadow">
            <img
              src="https://s3-media0.fl.yelpcdn.com/bphoto/dozRbBpphuDNoAfpNA_dqQ/o.jpg"
              class="card-img-top specialsCardImg"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">Bistechina alla Griglia</p>
            </div>
          </div>
        </div>
      

        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card shadow">
            <img
              src="https://s3-media0.fl.yelpcdn.com/bphoto/oeqZFzBp7SRq5fxFAyylDg/o.jpg"
              class="card-img-top specialsCardImg"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">Pizza Margherita</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card shadow">
            <img
              src="https://s3-media0.fl.yelpcdn.com/bphoto/SEbwqKZ2af8vFfzebNx2yA/o.jpg"
              class="card-img-top specialsCardImg"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">Fresh Baked Bread</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card shadow">
            <img
              src="https://s3-media0.fl.yelpcdn.com/bphoto/ClpCM6hsfLUT9vqXi2_hjw/o.jpg"
              class="card-img-top specialsCardImg"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">Turtei di Zucca</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col d-flex justify-content-center">
          <p class="display-6 my-5">Full Menu</p>
        </div>
        <hr class="my-5" />
      </div>


  
      <div class="row g-3" data-aos="fade-up" data-aos-delay="100">
          <% for(let idx = menuItems.length -1; idx >= 0; idx--){ %> <% const menuItem = menuItems[idx] %>
        <div class="col-md-6">
          <!-- Card -->
          <div class="card h-100 mb-3" >
            <div class="row g-0">
              <div class="col-md-4">
                  <a href="/menu/<%= menuItem.id %>" class="menuFoodCardLink">
                    <img src="<%= menuItem.foodPhoto %>" class="img-fluid rounded-start menuFoodCard" alt="...">
                  </a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= menuItem.dishName %></h5>
                    <p class="card-text text-muted"><%= menuItem.description %></p>
                    <p class="card-text"><small>Lunch Price: $<%= menuItem.lunchPrice %></small></p>
                    <p class="card-text"><small>Dinner Price: $<%= menuItem.dinnerPrice %></small></p>
                  </div>
                </div>
              </div>
          </div>
          <!-- End Card -->
        
        </div>
          <% } %>
      </div>
    </div>
  </body>
</html>
