<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { page: 'Menu Item'}) %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container">
      <h1 class="display-4">Menu Item Show Page</h1>
      <div class="row">
        <div class="col-6">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Dish Name: <%= menuItem.dishName %></h5>
              <p class="card-text">
                Dish Description: <%= menuItem.description %>
              </p>
              <p>
                Lunch: $<%= menuItem.lunchPrice %>
              </p>
              <p>
                Dinner: $<%= menuItem.dinnerPrice %>
              </p>
              
            </div>
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img
                src="https://s3-media0.fl.yelpcdn.com/bphoto/dozRbBpphuDNoAfpNA_dqQ/o.jpg"
                class="img-fluid img-thumbnail"
              />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>


  </body>
</html>
